 

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
 
#about{
   
    position: absolute;
    top: 20%;

    
}
main{
    position: relative;
    display: flex;
    flex-direction: column;


}


 

#about-container{
    height: 120vh;
    width: 100%;  
   
    top: 20%;
    position: relative;

    
}

 main > *{
    margin-top: 10vh;
 }
body{
    position: relative;
    padding: 10px;
}
.header-container{
    height: fit-content;
    width: 100%;
    position: fixed;
    z-index: 1000;
    
}
 
.container1 {
    position: relative;
    width: 400px;
    height: auto;
    top: 24vh;

}
.img_home {
    width: 100%;
    height: 600px;
}
.text_home {
    position:absolute;
    top: 100px;
    left: 300px; 
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px;
}
.container2 {
    position: relative;
    width: 100vw;
    height: 80vh; 
    top: 24vh;

}
.img_about{ 
    width: 100%;
    height: 550px;
   
    
    
}
.lg{
    font-size: 40px;
    text-decoration: bold;
}
.succ{
    font-size: 30px;
    text-decoration: bold;
}
.text_about {
    position:absolute;
    top: 5%;
    left: 10%;
    /* transform: translate( -50%,50%); */
    
    overflow: scroll;
    width: 50vw;
    height: 80%;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px;

}
.container3 {
    position: relative;
    width: 100vw;
    height: auto;
    top: 23vh;
}

.container4 {
    position: relative;
    width: 100vw;
    height: auto;
    top: 23vh;
}
.Temple {
    position: absolute;
    top: 150px;
    /* left: 200px; */
}
.Musium {
    position: absolute;
    top: 500px;
    
}
.Fort {
    position: absolute;
    top: 850px;
    
}
.img_contact {
    width: 99%;
    height: 550px;

}
.text_contact {
    position:absolute;
    top: 30px;;
    left: 300px;
    transform: translate( -50%,50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px;
    text-align: center;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    

   
}

li a {
      background-color: aliceblue;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

}

 
.nav{
    display: inline-block; 
    padding: 10px 10px;
   

    display: flex;
 
 align-items: center;
}
.nav li a {
    transition: background-color .2s ease-in;
}

.nav li a:hover {
    background-color: aqua;
    border-radius: 10px;
    font-weight: 700;

}

 
 
.tou{
    font-size: 8vh;
    padding: 3vh 0vh;
    color: rgb(57, 57, 243);
    text-transform:capitalize;
    letter-spacing: 1vw;
    text-align: center;
    text-shadow: 1vh 1vh 1vh rgb(148, 148, 216);
    
    background-color: aqua;
}
 


 
 .Temple{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /* background-color: red; */
    height: 30vh;
    width: 100vw;

 }


 .Musium{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
    height: 30vh;
    width: 100vw;
    
 }

 .Fort{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    
    height: 30vh;
    width: 100vw;
    
 }

 
form input{
    font-size: inherit;
    font-style: inherit;
    outline: none; 
}

 
.Temple a img{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    background-size: cover;
    transition: all .2s;
}

.Musium a img{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    background-size: cover;
    transition: all .2s;
}

.Fort a img{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    background-size: cover;
    transition: all .2s;
}
.Temple a img:hover{
    transform: scale(1.2);
}

 

.Musium a img:hover{
    transform: scale(1.2);
}
.Fort a img:hover{
    transform: scale(1.2);
}